<script>
  function printChoice(template) {
    document.getElementById("chosenOne").innerHTML = template
  }

  function sendMessage(template) {
    const message_map = new Map();

    printChoice(template)
    window.top.postMessage(message_map.set('template', template), '*');
  }
</script>

<body>
  <% @templates.each do |template| %>
    <p><%= button_tag template.title, class: "btn", :onclick => "sendMessage(#{template.content});"%></p>
  <% end %>

  <br>
  <p class="text">Template preview:</p>
  <p id="chosenOne" class="container"></p>
</body>
