.btn {
  background-color: white;
  color: #8c8c8c;
  border: none;
  font-weight: bold;
  font-size: medium;
}

.text {
  color: #f1c232;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: oldlace;
}